<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="/crane/bootstrap.min.css" crossorigin="anonymous">

  <!-- bootstrap theme -->
  <link rel="stylesheet" href="/crane/bootstrap-theme.css" crossorigin="anonymous">

  <!-- font awesome -->
  <link rel="stylesheet" href="/crane/css/font-awesome.min.css" crossorigin="anonymous">

  <!-- application css -->
  <link rel="stylesheet" href="/crane/app.css" crossorigin="anonymous">

  <!-- jquery -->
  <script src="/crane/jquery-3.1.0.min.js"></script>

  <!-- bootstrap js -->
  <script src="/crane/bootstrap.min.js"></script>

  <!-- bootbox -->
  <script src="/crane/bootbox.min.js"></script>

</head>
<body>
  <div id="app"></div>
  <script src="/crane/bundle.js"></script>
</body>
</html>
